.curtain {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;

  &__header {
    height: 40px;
    background-color: #6C7579;

    &__menu {
      width: 100px;
      height: 100%;
      background-color: #008cd2;
    }
  }

  &--moving {
    .curtain {
      &__header {
        cursor: move;
      }
    }
  }
}
